body {
  font-family: Helvetica;
  text-align: center;
}
.flatiron {
  background-image: url("../images/flatiron.png");
  color: white;
}
h1 {
  font-size: 70px;
  font-weight: bold;
}
a {
  font-size: 18px;
  color: white;
}
h2 {
  font-size: 32px;
  font-weight: bold;
}
h3 {
  font-size: 23px;
  font-weight: bold;
}
p {
  font-size: 14px;
}
footer {
  text-align: left;
  font-size: 11px;
  color: white;
  background-color: dimgray;
}
